body {
    margin: 0;
    background: white;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    text-align: center;
    font-size: 15px;
}
.main-logo {
    margin-top: 60px;
}
.main-logo-img {
    border-radius: 10px;
    height: 150px;
}
.main-search {
    display: inline-block;
    margin: auto;
    margin-top: 30px;
    text-align: left;
    border:1px solid #cecece;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    opacity: .9;
    transition-duration: 0.4s;
}
.main-search:hover {
    opacity: 1;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
}
.search-content {
    width: 540px;
    height:  36px;
    border-width: 2px;
    box-sizing: border-box;
    display: inline-block;
}
.search-select {
    display: inline-block;
    width: 40px;
    text-align: center;
    margin: 0 5px;
    line-height: 36px;
    opacity: 0.8;
    cursor: pointer;
}
.search-engine {
    width: 50px;
    display: inline-block;
}
.search-engine:hover .search-select-menu {
    display: block;
}
.search-select-menu {
    transition-duration: .3s;
    display: none;
    position: relative;
    top: 5px;
}
.search-select-menu li {
    list-style: none;
    width: 40px;
    text-align: center;
    margin: 0 5px;
    line-height: 36px;
    opacity: 0.8;
    cursor: pointer;
    transition-duration: .3s;
}
.search-select-menu li:hover {
    color: #3385ff;
}
.search-input {
    height:  36px;
    width: 430px;
    font: 16px/18px arial;
    letter-spacing: 1px;
    line-height: 36px;
    border: none;
    outline: none;
    vertical-align: top;
}
.search-btn {
    float: right;
    height:  36px;
    width:  100px;
    border-style: none;
    background: #3385ff;
    color: white;
    letter-spacing: 3px;
    line-height: 1;
    cursor: pointer;
    opacity: .9;
}
.search-btn:hover {
    opacity: 1;
}
